streamlit==1.48.1
google-api-python-client==2.178.0
google-auth==2.40.3
google-auth-oauthlib==1.2.2
google-auth-httplib2==0.2.0
python-dotenv==1.1.1
langchain==0.3.27
langchain-community==0.3.27
langchain-google-community==2.0.7
langchain-openai==0.3.28
langgraph==0.6.6
openai==1.99.9
google-generativeai==0.8.5
sqlalchemy==2.0.43
bcrypt==4.3.0
icalendar